<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4YGC8RXNHX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4YGC8RXNHX');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Türk CRM</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="keywords" content="müşteri ilişkileri yönetimi,crm programı,crm sistemi,müşteri ilişkileri yöneticisi,CRM Yazılımı,miy sistemi" />
    <meta name="description" content="Kuruluşunuzun daha iyi ve kaliteli yönetimi için ücretsiz müşteri ilişkileri yönetimi yazılımı (CRM yazılımı) Türk CRM programı mevcuttur."/>
</head>
<body>
    <header>
        <nav id="main-nav" class="main-nav">
            <div class="logo">
                <img src="~/img/Logo.jpg" id="logo" class="max-logo" alt="ücretsiz müşteri ilişkileri yönetimi yazılımı" />
            </div>
            <div class="menu" id="menu">
                <ul>
                    <li>
                        <a href="/" title="Ana Sayfa">Ana Sayfa</a>
                    </li>
                    @*<li>
                        <a href="/">Products</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/">Services</a>
                            </li>
                            <li>
                                <a href="/">Web App</a>
                            </li>
                            <li>
                                <a href="/">Consult</a>
                            </li>
                        </ul>
                    </li>
                    <li>

                        <a href="#">About</a>
                    </li>*@
                    <a href="javascript:void(0);" class="nav-close-icon" onclick="CloseMenu()">
                        <i class="fa fa-times"></i>
                    </a>

                </ul>
                <a href="javascript:void(0);" class="nav-icon" onclick="ResponsiveMenu()">
                    <i class="fa fa-bars"></i>
                </a>

            </div>
        </nav>
        @RenderSection("Header", false)
    </header>
    @RenderBody()

    <footer>
        <p>
            © @DateTime.Now.Year <a href="https://turkcrm.net" title="Turk CRM Programı.">Türk CRM Programı</a>
        </p>
    </footer>


    <script src="~/js/jquery-3.5.1.min.js"></script>
    @*<script src="~/js/popper.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
